server:
  port: 8081

spring:
  application:
    name: notification-app
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 3s
          max-attempts: 3

  mail:
    host: smtp.gmail.com
    port: 587
    username: "[FROM]"
    password: "[APP PASSWORD]"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

prioritas:
  mail:
    from: "[FROM]"
    target-list: "[TO_LIST separated by comma]"