server:
  port: 8081

spring:
  application:
    name: notification-app
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 3s
          max-attempts: 3

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

prioritas:
  mail:
    from: "sistema@prioritas.com.br"
    target-list: "medicos@hospital.com,chefe.plantao@hospital.com"